@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";
html {
  font-size: 16px;
}
body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}
* {
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

@media only screen and (max-width: 895px) {
  .container-img-area {
    flex-direction: column;
  }
  .content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .highlight {
    text-align: center;
  }
  .img-area {
    margin-top: 24px;
  }
}
